*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
color:white;
color:#333;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
color:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

header h2{
font-weight:500;
}

button{
padding:8px 18px;
border:none;
background:#4f46e5;
color:white;
border-radius:20px;
cursor:pointer;
font-size:14px;
}

button:hover{
opacity:0.9;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

.hero p{
color:#666;
max-width:500px;
margin:auto;
}

.cards{
display:flex;
justify-content:center;
gap:25px;
padding:40px 10%;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
text-align:center;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

footer{
text-align:center;
padding:30px;
color:#777;
}



.dark{
background:#121212;
color:white;
}

.dark header{
background:#1e1e1e;
}

.dark .card{
background:#1f1f1f;
}

.dark .hero p{
color:#eea9e1;
}

.dark footer{
color:#f6a7f2;
}